---
layout: base.njk
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ siteTitle }}</title>
</head>
<body>
<h1 class="mt-3 text-3xl font-bold">{{ title }}</h1>

<article class="prose mt-4">
{{ content | safe }}
</article>

</body>
</html>
