---
title: A map of Pine Hill
layout: base.njk
---
<div id='map' style="width: 100%; height: 800px"></div>
<script>
// Add your Mapbox access token.
mapboxgl.accessToken = process.env.ENV_VARIABLE;

const map = new mapboxgl.Map({
  container: 'map', // HTML container ID
  style: 'mapbox://styles/mapbox/satellite-streets-v12', // style URL
  center: [170.51711, -45.842349], // starting position [lng, lat]
  zoom: 11 // starting zoom
});

const oneAgencyListings = {{ oneagency | json | safe }};
const pineHillLocations = {{ pinehill | json | safe }};

[...oneAgencyListings[0], ...pineHillLocations[0]].forEach(loc => {
    const popup = new mapboxgl.Popup().setHTML(loc.name);
    const marker = new mapboxgl.Marker({color: loc.color})
                            .setLngLat([loc.lng, loc.lat])
                            .setPopup(popup)
                            .addTo(map);
});
</script>
<div class="mt-2 text-xl">
{{ content | safe }}
</div>
