---
layout: base.njk
---
{% if header_image %}
<section class="w-full h-screen">
    <img
        src="/media/{{ header_image }}"
        class="object-cover w-full h-full"
        alt="{{ header_descr }}"
    />
</section>
{% endif %}

<h1 class="mt-3 text-3xl font-bold">{{ title }}</h1>

<aside class="mb-3">
<span class="date">{{ date | postDate }}.</span>
{% if tags %}
In
{%- for tag in tags | filterTagList %}
{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
{%- endfor %}
{% endif %}
</aside>

<article class="prose">
{{ content | safe }}
</article>