---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: base.njk
---
<h1 class="my-3 text-3xl font-bold">Tagged “{{ tag }}”</h1>

<div class="prose">
<p>The following posts are tagged “{{ tag }}”:</p>

<ul>
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{% endfor %}
</ul>
</div>